---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
   I am a dynamic and results-driven Digital Marketing Specialist with a proven track record of crafting and executing successful online marketing strategies. With 3 years of experience, I excel in leveraging SEO, SEM, social media, content marketing, and analytics to drive brand growth, boost engagement, and increase ROI.
A natural collaborator, I thrive in fast-paced environments where creativity and data come together to achieve tangible results. Skilled in using tools like Google Analytics, AdWords, and social media platforms, I bring a hands-on approach to campaign management while staying updated with the latest industry trends.
Passionate about connecting businesses with their audiences, I take pride in delivering impactful campaigns that align with company goals. Ready to contribute innovative ideas and dedicated effort to drive your brand's digital presence to new heights.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Certified Digital Marketer"
      subtitle=" 2024 at Honeytreat Trade Academy, Ikeja, Nigeria"
    />
    <TimeLineElement
      title="In View"
      subtitle=" 2022 to Present at JPTS Institute Of Science,Management and Technology,Lagos, Nigeria"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Digital Marketing Specialist"
      subtitle="2024 at Greenpathsdev,Lagos,Nigeria"
    >
I designed and implemented targeted digital marketing strategies across multiple social media platforms, resulting in a specific 20% increase in website traffic within three months.
Managed end-to-end social media campaigns, growing Facebook followers by 10% and boosting engagement rates through consistent and relevant content creation.
Conducted detailed keyword research and optimized website content for SEO, achieving higher rankings for priority keywords and driving organic traffic growth.
Analyzed campaign performance using tools like Google Analytics and created actionable reports to inform future strategies, consistently meeting or exceeding KPIs.
Collaborated with cross-functional teams, including sales and design, to align marketing efforts with overarching business goals.
Executed successful email marketing campaigns, achieving above-average open and click-through rates by tailoring content to audience segments.
Stayed ahead of industry trends and applied insights to test new approaches, such as video marketing and influencer collaborations, contributing to brand visibility and credibility.
Key Achievements:
Increased lead generation by 10% through effective PPC campaign management on platforms like Google Ads and Facebook Ads.
Spearheaded a product launch campaign that resulted in achievement, record-breaking $100 in sales within the first month.
This role allowed me to hone my ability to think creatively, adapt quickly to evolving technologies, and deliver measurable results in a competitive market.
    </TimeLineElement>
    <TimeLineElement
      title="Digital Marketing Specialist"
      subtitle="2024 at TAC Agidingbi, Ikeja, Nigeria"
    >
      Opened, optimized their Google Business Profile and managed their profile.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Google Analytics</li>
    <li>Email Marketing</li>
    <li>Social Media Marketing</li>
    <li>Search Engine Optimization</li>
    <li>Social Media Management</li>
    <li>Lead Generation</li>
    <li>Google Ads</li>
    <li>Wordpress Website Development</li>
    <li> Meta Ads</li>
    <li>Content Writing</li>
    <li>Tiktok Ads</li>
    <li>Snapchat Ads</li>
    <li>LinkedIn Ads</li>
    <li>Google Local Service </li>
    <li>Google Business Profile Optimization</li>
    <li>Schema Markup</li>
    <li>Google Tag Manager</li>
  </ul>
</BaseLayout>
